  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 10px;
    background-color:rgb(123, 165, 142) ;
    color: palegreen;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    height: 30px;
   
  }
  
  .nav-links li {
    margin-left: 1rem; 
   
  }
  .nav-links li:hover 
  {
    background-color: blue;
    border-radius: 8%;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  