  .notification-card {
    border: 1px solid #1a9855;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: pink;
    box-shadow: 0 2px 5px rgba(50, 145, 88, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
    display: flex;
    flex-direction: column;
    
  }
  .notification-card:hover{
    box-shadow: 0 8px 16px rgb(151, 208, 76);
}
  
  /* .notification-card:hover {
    box-shadow: 0 4px 10px rgba(76, 151, 88, 0.2);
    transform: translateY(-5px);
  } */
  
  .notification-card h3 {
    margin-bottom: 0.5rem;
    color:rgb(182, 64, 95);
    font-size: 22px;
  }
  
  .notification-card p {
    margin-bottom: 0.5rem;
    color: #8d429c;
  }
  
  